
$salmon: #f36c5c;
$green: #8dc444;
$white: #fbfbfb;
$blue: #4ab2b3;
$black: #353535;
$augmented: #cccc4a;


$primary-color: #37B6DB;
$secondary-color: #008ae6;
$ltgrey: #ededed;
$link-color:#337ab7;

$darker-primary-color: #3A3A3A;
$top-bar-color:#9c9c9c;